<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "sk" }}">

  {%- include head.html -%}

  <body>

    {%- include navigation.html -%}

    <div class="container-fluid mt-5 p-4">

        <h3 class="text-center p-4"> {{ page.parents }} </h3>

        <p class="pl-4"> {{ page.datum-narodenia }} </p>
        <p class="pl-4"> K odberu od {{ page.datum-odberu }} </p>

        <p class="p-4"> {{ page.text}} </p>

        {{ content }}
    </div>
    

    {%- include footer.html -%}

  </body>

</html>
